/* html {
    font-size: 62.5%;
} */
/*aspectos generales: bordes y color de fondo de calculadora*/
.calculator {
    border: 3px blue ridge; 
    width: 250px;
    text-align: center;
    background-color: #f6f8d8;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 0 auto; */
}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#display-calculator {
    width: 200px; 
    border: 2px black solid; 
    text-align: right; 
    position: relative; 
    left: 23px;  
    padding: 0px 5px;
    background-color: white; 
    font-family: "courier new"; 
      /* overflow:scroll; */
    overflow: hidden;
    }

/*botones normales: anchura y margen*/
.calculator [type=button] { 
    width: 35px; 
    padding: 0;  
    margin: 1px;
}
/*botones especiales*/
.calculator input.largo { 
    color: red; 
    width: 60px; 
}